@charset "utf-8";
@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
/* CSS Document */
#left {
	width:30%;
	border:2px solid black;
	margin-top:3%;
	margin-left:3%;
	border-radius:1em;
	padding:2%;
	box-shadow: 3px 3px 3px grey;
	position:absolute;
}
#right {
	width:55%;
	position:relative;
	border:2px solid black;
	margin-left:39%;
	border-radius:1em;
	padding:2%;
	box-shadow: 3px 3px 3px grey;
}
/*BELOW CSS IS FOR ADJUSTING THE WIDTH OF THE DROPDOWN LIST*/
#size1{
width:20%;
}

#size2{
width:20%;
}

#size3{
width:35%;
}

#size4{
width:93%;
}
.design {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}.design:hover {
	background-color:#dfdfdf;
}.design:active {
	position:relative;
	top:1px;
}