{% extends "base.html" %}
{% block content %}

<head>
<!--<link type="text/css" rel="stylesheet" href="/stylesheets/cont.css"/>-->
<link type="text/css" rel="stylesheet" href="/stylesheets/aboutus.css"/>
</head>

<body>
<pre>

<div id="orochimaru">
   <b> "Maybe, just maybe, there is no purpose in life. But if you linger a while longer in this world, you might discover something of value in it."</b>
</div>      
   
<div id="content" align="center" >

			Insert a fancy paragraph containing some fancy adjectives.
</div>        
</pre>
</body>

{% endblock %}